<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= picObj.name %></title>
  <link rel="stylesheet" href="css/pic4ward.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
  <script src="js/util.js"></script>
  <script type="text/javascript" language="JavaScript">
    var dataStore;
    var clickablesArray;
    var resizeCallback = function() { 
      set_body_height();
      setup_canvas(clickablesArray); 
      clickablesArray = draw_clickables(dataStore);
    }
    // After DOM is constructed
    $(document).ready(function() {
      dataStore = <%-newClickables%>;
      set_body_height();
      $(window).bind('resize', resizeCallback);
      
    });
    // After image has been fully loaded
    $(window).load(function() {     
        setup_canvas(clickablesArray);
        clickablesArray = draw_clickables(dataStore);     
    });
  </script>
</head>
<body>
  <div>
    <img src="<%= picObj.url %>" alt="The first" class="center fit"></img>
  </div>
</body>
</html>