<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width; initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= name %></title>
  <link rel="stylesheet" href="/css/pic4ward.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.js"></script>
  <script id="util" src="/js/util.js"></script>
  <script type="text/javascript" language="JavaScript">
        /*! A fix for the iOS orientationchange zoom bug.
     Script by @scottjehl, rebound by @wilto.
     MIT / GPLv2 License.
    */
    (function(w){
      
      // This fix addresses an iOS bug, so return early if the UA claims it's something else.
      var ua = navigator.userAgent;
      if( !( /iPhone|iPad|iPod/.test( navigator.platform ) && /OS [1-5]_[0-9_]* like Mac OS X/i.test(ua) && ua.indexOf( "AppleWebKit" ) > -1 ) ){
        return;
      }

        var doc = w.document;

        if( !doc.querySelector ){ return; }

        var meta = doc.querySelector( "meta[name=viewport]" ),
            initialContent = meta && meta.getAttribute( "content" ),
            disabledZoom = initialContent + ",maximum-scale=1",
            enabledZoom = initialContent + ",maximum-scale=10",
            enabled = true,
        x, y, z, aig;

        if( !meta ){ return; }

        function restoreZoom(){
            meta.setAttribute( "content", enabledZoom );
            enabled = true;
        }

        function disableZoom(){
            meta.setAttribute( "content", disabledZoom );
            enabled = false;
        }
      
        function checkTilt( e ){
        aig = e.accelerationIncludingGravity;
        x = Math.abs( aig.x );
        y = Math.abs( aig.y );
        z = Math.abs( aig.z );
            
        // If portrait orientation and in one of the danger zones
            if( (!w.orientation || w.orientation === 180) && ( x > 7 || ( ( z > 6 && y < 8 || z < 8 && y > 6 ) && x > 5 ) ) ){
          if( enabled ){
            disableZoom();
          }         
            }
        else if( !enabled ){
          restoreZoom();
            }
        }
      
      w.addEventListener( "orientationchange", restoreZoom, false );
      w.addEventListener( "devicemotion", checkTilt, false );

    })( this );
    
    history.navigationMode = 'compatible';
    var dataStore;
    var clickablesArray;
    $('html').css('background-color', '#<%-bColor%>');
    var resizeCallback = function() { 
      set_body_height();
      setup_canvas(clickablesArray); 
      clickablesArray = draw_clickables(dataStore);
    }
    // After DOM is constructed
    $(document).ready(function() {
      dataStore = <%-newClickables%>;
      $(window).bind('resize', resizeCallback);
      // Set image 'src'
      var relURL = $(location).attr('host');
      var imageSrc = '<%= url %>';//?'+Math.random();
      $('img').attr('src', imageSrc);
    });
    $(window).load(function() {
      // After image has been fully loaded
      imagesLoaded( $('img'), function() {     
        set_body_height();
        setup_canvas(clickablesArray);
        clickablesArray = draw_clickables(dataStore);
        $('img').show();     
      });
    });
  </script>
  
</head>
<body>
  <div id="pic-container">
    <img src="" alt="The first" class="center fit" style="display: none;"></img>
  </div>
</body>
</html>